<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!doctype html>

<head>
  <title>Mi Cliente de Twitter</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static',
  filename='style.css') }}">
</head>

<body>
  <header>
    {% if user %}
    <a href="{{ url_for('logout') }}" style="float: right; "><img src="{{url_for('static', filename='sign-out.png') }}"
        alt="sign out"></a>
    {% else %}
    <a href="{{ url_for('login') }}" style="float: right; "><img src="{{url_for('static', filename='sign-in.png') }}"
        alt="sign in"></a>
    {% endif %}
    <h1>Cliente Twitter - Trabajo 1</h1>

  </header>
  <hr>
  <div>

    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <p class=message>
      {% for message in messages %}
      {{ message }}
      {% endfor %}
    </p>
    {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <p class=error>
      {% for error in errors %}
      {{ error }}
      {% endfor %}
    </p>
    {% endif %}
    {% endwith %}

    {% with warnings = get_flashed_messages(category_filter=["warning"]) %}
    {% if warnings %}
    <p class=warning>
      {% for warning in warnings %}
      {{ warning }}
      {% endfor %}
    </p>
    {% endif %}
    {% endwith %}

  </div>

  {% block body %}{% endblock %}
</body>

</html>